<h1>Privacy Policy</h1>

<p>
    Thank you for using our Natai Diary application. This privacy policy outlines how we collect, use, and share
    information that we collect from you while you use our application.
</p>

<h3>1. Information We Collect</h3>

<p>
    1.1. User Notes: Our diary application collects user notes to enable you to create, store, and manage your diary
    entries. We do share your anonymized notes with OpenAI to generate suggestions based on your notes and provide "AI Therapy" service.
</p>
<p>
    1.2. Anonymous Data: We collect anonymous data, such as IP addresses and time zones, to help us understand how users
    interact with our application. We use this data to improve our application's performance and user experience. We
    also share this anonymous data with Plausible analytics service, which helps us understand how our application is
    used and to improve its performance.
<p>
<h3>2. How We Use Your Information</h3>
<p>
    2.1. User Notes: We use your diary notes solely to provide you with diary functionality and to ensure that your
    notes are safely and securely stored. We do not use your notes for any other purposes.
</p>
<p>
    2.2. Anonymous Data: We use anonymous data to improve our application and to gain insights into how users interact
    with our application. We also use this data to diagnose technical issues and to ensure that our application is
    running optimally.
</p>
<h3>3. How We Share Your Information</h3>
<p>
    3.1. User Notes: We do not share your diary notes with any third-party. We may, however, share your notes with
    OpenAI to help improve the artificial intelligence technology that powers our application. If we do share your notes
    with OpenAI, we will anonymize them first to protect your privacy.
</p>

<p>
    3.2. Anonymous Data: We share anonymous data with Plausible analytics service to help us understand how our
    application is used and to improve its performance. We do not share any personally identifiable information with
    Plausible analytics service.
</p>

<h3>4. Your Rights and Choices</h3>
<p>
    4.1. Access and Correction: You can access and correct your diary notes at any time by logging into our application
    and editing your notes.
</p>
<p>
    4.2. Deletion: You can delete your diary notes at any time by logging into our application and deleting your notes.
    Once deleted, your notes cannot be recovered.

</p>
<p>
    4.3. Opt-Out: You can opt-out of sharing anonymous data with Plausible analytics service by disabling the
    "Analytics" option in our application settings.
</p>

<h3>5. Security</h3>
<p>
    We take the security of your information seriously and have implemented appropriate technical and organizational
    measures to protect your information against unauthorized access, disclosure, alteration, or destruction. However,
    no method of transmission over the internet, or method of electronic storage, is 100% secure. Therefore, we cannot
    guarantee the absolute security of your information.
</p>
<h3>6. Changes to this Privacy Policy</h3>

<p>
    We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy
    policy on our website. You are advised to review this privacy policy periodically for any changes.

    If you have any questions or concerns about this privacy policy, please contact us on <a
            href="{{ app_url }}/static/contacts">{{ app_url }}/static/contacts</a>
</p>