<center data-parsed="">
    <table align="center" class="menu text-center float-center">
        <tr>
            <td>
                <table>
                    <tr>
                        <th class="menu-item float-center">
                            <a href="{{ app_url }}">Web Interface</a>
                        </th>
                        <th class="menu-item float-center">
                            <a href="https://play.google.com/store/apps/details?id=com.svbackend.natai">
                                Android Application
                            </a>
                        </th>
                        <th class="menu-item float-center">
                            <a href="{{ app_url }}/static/contacts">Contact</a>
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>