<center data-parsed="">
    <table align="center" class="menu float-center">
        <tr>
            <td>
                <table>
                    <tr>
                        <th class="menu-item float-center">
                            <a href="{{ app_url }}">{{ app_url }}</a>
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>