@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', Proxima Nova, system-ui, sans-serif;
    }
}


.nav-item {
    color: #6D6D9C;
    font-weight: 400;
}

.nav-item-active {
    color: #9571F8;
    font-weight: 600;
    border-bottom-color: #9571F8;
}

.bg-flower {
    background-color: #E8DFFF;
}

.color-name {
    color: #29293E;
}

.color-brand-secondary {
    color: #d1beff;
}

.color-brand {
    color: #9571F8;
}

.bg-brand {
    background-color: #9571F8;
}

.font-alegreya {
    font-family: 'Alegreya', serif;
    letter-spacing: 0.1rem;
}

.font-alegreya-text {
    font-family: 'Alegreya', serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    max-width: 1082px;
    margin: 0 auto;
}

.bg-hero {
    background-color: #330055;
    background-attachment: fixed;
    background-size: contain;
}

.bg-hero .text-secondary {
    max-width: 500px;
    /*color: #d1beff;*/
    color: #ebe2ff;
}

.glass {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.why-section {
    max-width: 1082px;
    margin: 0 auto;
}

.bg-why {
    background-attachment: fixed;
}

.features-section {
    max-width: 1082px;
    margin: 0 auto 3rem auto;
}

.bg-features {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-menu-btn {
    color: #2C313A;
}