@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "scroll.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', Proxima Nova, system-ui, sans-serif;
    }
}

.nav-item-active {
    color: #9571F8;
    font-weight: 600;
    border-bottom-color: #9571F8;
}

.bg-flower {
    background-color: #E8DFFF;
}

.color-name {
    color: #29293E;
}

.color-brand-secondary {
    color: #d1beff;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.landing {
    overflow: hidden;
}

.bg-section {
    position: absolute;
    background: #ECEAFF;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.dark .bg-section {
    background: linear-gradient(180deg, #2D2A53 0%, #1F1D3C 100%);
}

.bg-hero {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    /*
    background: -moz-radial-gradient(circle at 5% 20%, rgba(210, 235, 253, 1) 0%, rgba(236, 234, 255, 1) 21%), -moz-radial-gradient(circle at 9% 33%, rgba(149, 113, 248, 1) 0%, rgba(236, 234, 255, 1) 21%);
    background: -webkit-radial-gradient(circle at 5% 20%, rgba(210, 235, 253, 1) 0%, rgba(236, 234, 255, 1) 21%), -webkit-radial-gradient(circle at 9% 33%, rgba(149, 113, 248, 1) 0%, rgba(236, 234, 255, 1) 21%);
    background: -o-radial-gradient(circle at 5% 20%, rgba(210, 235, 253, 1) 0%, rgba(236, 234, 255, 1) 21%), -o-radial-gradient(circle at 9% 33%, rgba(149, 113, 248, 1) 0%, rgba(236, 234, 255, 1) 21%);
    background: -ms-radial-gradient(circle at 5% 20%, rgba(210, 235, 253, 1) 0%, rgba(236, 234, 255, 1) 21%), -ms-radial-gradient(circle at 9% 33%, rgba(149, 113, 248, 1) 0%, rgba(236, 234, 255, 1) 21%);
     */
    background: radial-gradient(circle at 0% 5%, rgba(210, 235, 253, 1) 0%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 0% 35%, rgba(149, 113, 248, 1) 0%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 50% 95%, rgba(210, 235, 253, 1) 0%, rgba(0, 0, 0, 0) 28%),
    radial-gradient(circle at 40% 100%, rgba(149, 113, 248, .6) 0%, rgba(0, 0, 0, 0) 23%),
    radial-gradient(circle at 95% 5%, rgba(210, 235, 253, 1) 0%, rgba(0, 0, 0, 0) 16%),
    radial-gradient(circle at 95% 40%, rgba(149, 113, 248, .6) 0%, rgba(0, 0, 0, 0) 21%);

    filter: blur(32px);
}

.dark .bg-hero {
    background: radial-gradient(circle at 0% 3%, #4481AC 2%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 10% 25%, rgba(149, 113, 248, 0.2) 20%, rgba(0, 0, 0, 0) 5%),
    radial-gradient(circle at 80% 35%, rgba(149, 113, 248, 0.2) 20%, rgba(0, 0, 0, 0) 5%),
    radial-gradient(circle at 0% 65%, #4481AC 2%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 45% 100%, rgba(149, 113, 248, 0.2) 10%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 55% 100%, #4481AC 5%, rgba(0, 0, 0, 0) 10%),
    radial-gradient(circle at 100% 3%, #4481AC 2%, rgba(0, 0, 0, 0) 15%);
}

.hero-section .text-secondary {
    max-width: 500px;
    color: #6D6D9C;
}

.hero-section .text-dark {
    color: #29293E;
}

.hero-art {
    position: relative;
    flex: 1;
    width: 100%;
    min-height: 465px; /* Height of the phone screenshot image /public/assets/*/
}

.hero-art-screenshots {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-screenshot-2 {
    z-index: 1;
    position: absolute;
    right: 20%;
    top: 7%;
}

.hero-screenshot-1 {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
}

.hero-mood-1 {
    z-index: 3;
    position: absolute;
    top: 5%;
    right: 30%;
}

.hero-mood-2 {
    z-index: 3;
    position: absolute;
    bottom: 20%;
    right: 45%;
}

.hero-mood-3 {
    z-index: 3;
    position: absolute;
    right: 10%;
    bottom: 15%;
}

.glass {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.features-section {
}

.bg-features {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-menu-btn {
    color: #2C313A;
}

.bg-google {
    background-color: #100F0D;
}

.leading-12 {
    line-height: 3rem;
}

.why-card-item {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}

.brand-highlight {
    position: absolute;
    background-color: #E4F4FF;
    height: 24px;
    z-index: -1;
    left: -3%;
    top: 1rem;
    width: 106%;
}

.dark .brand-highlight {
    background-color: #364652;
}

/***
SWIPER START
 */

.why-section .swiper {
    padding-bottom: 2rem;
}

.why-section .swiper-slide {
    padding-top: 4rem;
}

.why-section .swiper-min-height {
    min-height: 190px;
}

.why-section .swiper-pagination-bullet {
    background: #C3C3C3 !important;
}

.why-section .swiper-pagination-bullet-active {
    background: #9571F8 !important;
    transform: scale(150%);
}

.why-section .swiper-pagination-bullets {
    bottom: -4px !important;
}

/***
SWIPER END
*/

/** FEATURES SECTION START */

.bg-section-features {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #fafaff;
}

.dark .bg-section-features {
    background: #1C1B20;
}

.bg-feature-card {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #ECEAFF;
}

.dark .bg-feature-card {
    background: linear-gradient(180deg, #2D2A53 0%, #1F1D3C 100%);
}

.bg-feature-card-circles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    /*
    background: -moz-radial-gradient(circle at 5% 20%, rgba(210, 235, 253, 1) 0%, rgba(236, 234, 255, 1) 21%), -moz-radial-gradient(circle at 9% 33%, rgba(149, 113, 248, 1) 0%, rgba(236, 234, 255, 1) 21%);
    background: -webkit-radial-gradient(circle at 5% 20%, rgba(210, 235, 253, 1) 0%, rgba(236, 234, 255, 1) 21%), -webkit-radial-gradient(circle at 9% 33%, rgba(149, 113, 248, 1) 0%, rgba(236, 234, 255, 1) 21%);
    background: -o-radial-gradient(circle at 5% 20%, rgba(210, 235, 253, 1) 0%, rgba(236, 234, 255, 1) 21%), -o-radial-gradient(circle at 9% 33%, rgba(149, 113, 248, 1) 0%, rgba(236, 234, 255, 1) 21%);
    background: -ms-radial-gradient(circle at 5% 20%, rgba(210, 235, 253, 1) 0%, rgba(236, 234, 255, 1) 21%), -ms-radial-gradient(circle at 9% 33%, rgba(149, 113, 248, 1) 0%, rgba(236, 234, 255, 1) 21%);
     */
    background-size: contain;
    background: radial-gradient(circle at 0% 5%, rgba(210, 235, 253, 1) 0%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 0% 35%, rgba(149, 113, 248, 1) 0%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 50% 95%, rgba(210, 235, 253, 1) 0%, rgba(0, 0, 0, 0) 28%),
    radial-gradient(circle at 40% 100%, rgba(149, 113, 248, .6) 0%, rgba(0, 0, 0, 0) 23%),
    radial-gradient(circle at 95% 5%, rgba(210, 235, 253, 1) 0%, rgba(0, 0, 0, 0) 16%),
    radial-gradient(circle at 95% 40%, rgba(149, 113, 248, .6) 0%, rgba(0, 0, 0, 0) 21%);
    filter: blur(24px);
}

.dark .bg-feature-card-circles {
    background: radial-gradient(circle at 0% 5%, #4481ac 0%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 0% 65%, rgba(149, 113, 248, 0.2) 15%, rgba(0, 0, 0, 0) 5%),
    radial-gradient(circle at 80% 35%, rgba(149, 113, 248, 0.2) 20%, rgba(0, 0, 0, 0) 5%),
    radial-gradient(circle at 45% 100%, rgba(149, 113, 248, 0.2) 10%, rgba(0, 0, 0, 0) 15%),
    radial-gradient(circle at 55% 100%, #4481AC 5%, rgba(0, 0, 0, 0) 10%),
    radial-gradient(circle at 100% 3%, #4481AC 2%, rgba(0, 0, 0, 0) 15%);
}

.feature-screenshot-right {
    top: -32rem;
    right: 6%;
}

.feature-lines-right {
    top: -34rem;
    right: 5%;
    z-index: 0;
}

.features-mood-1 {
    z-index: 3;
    position: absolute;
    top: -18rem;
    right: 37%;
}

.features-mood-2 {
    z-index: 3;
    position: absolute;
    top: -14rem;
    right: 7%;
    transform: scale(1.1);
}

.features-mood-3 {
    z-index: 3;
    position: absolute;
    top: -31rem;
    right: 30%;
    transform: scale(1.2);
}

.feature-screenshot-left {
    top: -32rem;
    left: 6%;
}

.feature-lines-left {
    top: -34rem;
    left: 5%;
    z-index: 0;
}

.features-mood-1.left {
    z-index: 3;
    position: absolute;
    top: -18rem;
    left: 37%;
}

.features-mood-2.left {
    z-index: 3;
    position: absolute;
    top: -14rem;
    left: 7%;
    transform: scale(1.1);
}

.features-mood-3.left {
    z-index: 3;
    position: absolute;
    top: -31rem;
    left: 30%;
    transform: scale(1.2);
}

/** FEATURES SECTION END */


/** MOBILE STYLES START */

@media (max-width: 1023px) {
    .hero-art {
        min-height: 300px;
    }

    .hero-section {
        overflow: hidden;
    }

    /* Hero screenshots position for MOBILES */
    .hero-screenshot-2 {
        left: -10%;
        top: 7%;
    }

    .hero-screenshot-1 {
        right: -10%;
        top: 0;
    }

    .hero-mood-1 {
        top: 5%;
        right: 45%;
    }

    .hero-mood-2 {
        bottom: 0;
        left: 0;
    }

    .hero-mood-3 {
        right: 0;
        bottom: 0;
    }

    .feature-screenshot-right {
        top: -40rem;
        right: 0;
    }

    .feature-lines-right {
        top: -41rem;
        right: 0;
    }

    .features-mood-1 {
        top: -28rem;
        right: 87%;
    }

    .features-mood-2 {
        top: -24rem;
        right: 7%;
    }

    .features-mood-3 {
        top: -41rem;
        right: 70%;
    }

    .feature-screenshot-left {
        top: -40rem;
        left: 0;
    }

    .feature-lines-left {
        top: -41rem;
        left: 0;
    }

    .features-mood-1.left {
        top: -28rem;
        left: 87%;
    }

    .features-mood-2.left {
        top: -24rem;
        left: 7%;
    }

    .features-mood-3.left {
        top: -41rem;
        left: 70%;
    }
}

/** MOBILE STYLES END */
